Projects/ITV/RepFileManager/XSD/ngi.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by MESMERiZE (MiZE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wmh="http://www.wmhelp.com/2003/eGenerator" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified">
	<!-- Основной контент -->
	<xs:element name="repository">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="module">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="device" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element name="childs" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="child" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="events" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="event" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
															<xs:attribute name="handling" type="HandlingType" use="optional"/>
															<xs:attribute name="broadcast" type="xs:boolean" use="optional"/>
															<xs:attribute name="noLog" type="xs:boolean" use="optional"/>
															<xs:attribute name="windowsMagazine" type="xs:boolean" use="optional"/>
															<xs:attribute name="sound" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="commands" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="command" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
															<xs:attribute name="flags" type="xs:string" use="optional" fixed="setPartOnAlarm"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="states" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="state" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
															<xs:attribute name="image" type="xs:string" use="required"/>
															<xs:attribute name="blink" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="staterules" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="staterule" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="event" type="xs:string" use="required"/>
															<xs:attribute name="from" type="xs:string" use="required"/>
															<xs:attribute name="to" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="icons" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="icon" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="file" type="xs:string" use="required"/>
															<xs:attribute name="name" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="properties" minOccurs="0">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded">
													<xs:element name="property" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element name="propertyTable" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:choice maxOccurs="unbounded">
																<xs:element name="columnStringEnum" type="PropertyStringEnumType"/>
																<xs:element name="columnIntRange" type="PropertyIntRangeType"/>
																<xs:element name="columnIntEnum" type="PropertyIntEnumType"/>
															</xs:choice>
															<xs:attribute name="id" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="buttons" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="button" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="id" type="xs:string" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="triggers" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="trigger" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="readonlysetter" type="xs:string" maxOccurs="unbounded"/>
															</xs:sequence>
															<xs:attribute name="name" type="xs:string" use="required"/>
															<xs:attribute name="property" type="xs:string" use="required"/>
															<xs:attribute name="compareaction" type="CompareActionType" use="required"/>
															<xs:attribute name="value" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:all>
									<xs:attribute name="id" use="required"/>
									<xs:attribute name="group" type="xs:string" use="optional"/>
									<xs:attribute name="addressFormat" type="AddressFormatType" use="optional"/>
									<xs:attribute name="root" type="xs:boolean" use="optional"/>
									<xs:attribute name="addressMax" type="xs:int" use="optional"/>
									<xs:attribute name="addressMin" type="xs:int" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="relay" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element name="childs" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="child" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="events" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="event" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
															<xs:attribute name="handling" type="HandlingType" use="optional"/>
															<xs:attribute name="broadcast" type="xs:boolean" use="optional"/>
															<xs:attribute name="noLog" type="xs:boolean" use="optional"/>
															<xs:attribute name="windowsMagazine" type="xs:boolean" use="optional"/>
															<xs:attribute name="sound" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="commands" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="command" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
															<xs:attribute name="flags" type="xs:string" use="optional" fixed="setPartOnAlarm"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="states" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="state" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
															<xs:attribute name="image" type="xs:string" use="required"/>
															<xs:attribute name="blink" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="staterules" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="staterule" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="event" type="xs:string" use="required"/>
															<xs:attribute name="from" type="xs:string" use="required"/>
															<xs:attribute name="to" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="icons" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="icon" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="file" type="xs:string" use="required"/>
															<xs:attribute name="name" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="properties" minOccurs="0">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded">
													<xs:element name="property" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element name="propertyTable" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:choice maxOccurs="unbounded">
																<xs:element name="columnStringEnum" type="PropertyStringEnumType"/>
																<xs:element name="columnIntRange" type="PropertyIntRangeType"/>
																<xs:element name="columnIntEnum" type="PropertyIntEnumType"/>
															</xs:choice>
															<xs:attribute name="id" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="buttons" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="button" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="id" type="xs:string" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="triggers" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="trigger" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="readonlysetter" type="xs:string" maxOccurs="unbounded"/>
															</xs:sequence>
															<xs:attribute name="name" type="xs:string" use="required"/>
															<xs:attribute name="property" type="xs:string" use="required"/>
															<xs:attribute name="compareaction" type="CompareActionType" use="required"/>
															<xs:attribute name="value" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:all>
									<xs:attribute name="id" type="xs:string" use="required"/>
									<xs:attribute name="group" type="xs:string" use="optional"/>
									<xs:attribute name="addressMax" type="xs:int" use="optional"/>
									<xs:attribute name="addressMin" type="xs:int" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="line" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element name="childs" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="child" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="events" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="event" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
															<xs:attribute name="handling" type="HandlingType" use="optional"/>
															<xs:attribute name="broadcast" type="xs:boolean" use="optional"/>
															<xs:attribute name="noLog" type="xs:boolean" use="optional"/>
															<xs:attribute name="windowsMagazine" type="xs:boolean" use="optional"/>
															<xs:attribute name="sound" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="commands" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="command" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
															<xs:attribute name="flags" type="xs:string" use="optional" fixed="setPartOnAlarm"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="states" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="state" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
															<xs:attribute name="image" type="xs:string" use="required"/>
															<xs:attribute name="blink" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="staterules" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="staterule" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="event" type="xs:string" use="required"/>
															<xs:attribute name="from" type="xs:string" use="required"/>
															<xs:attribute name="to" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="icons" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="icon" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="file" type="xs:string" use="required"/>
															<xs:attribute name="name" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="properties" minOccurs="0">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded">
													<xs:element name="property" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element name="propertyTable" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:choice maxOccurs="unbounded">
																<xs:element name="columnStringEnum" type="PropertyStringEnumType"/>
																<xs:element name="columnIntRange" type="PropertyIntRangeType"/>
																<xs:element name="columnIntEnum" type="PropertyIntEnumType"/>
															</xs:choice>
															<xs:attribute name="id" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="buttons" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="button" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="id" type="xs:string" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="triggers" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="trigger" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="readonlysetter" type="xs:string" maxOccurs="unbounded"/>
															</xs:sequence>
															<xs:attribute name="name" type="xs:string" use="required"/>
															<xs:attribute name="property" type="xs:string" use="required"/>
															<xs:attribute name="compareaction" type="CompareActionType" use="required"/>
															<xs:attribute name="value" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:all>
									<xs:attribute name="id" type="xs:string" use="required"/>
									<xs:attribute name="group" type="xs:string" use="optional"/>
									<xs:attribute name="addressMax" type="xs:int" use="optional"/>
									<xs:attribute name="addressMin" type="xs:int" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="detector" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element name="childs" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="child" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="events" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="event" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
															<xs:attribute name="handling" type="HandlingType" use="optional"/>
															<xs:attribute name="broadcast" type="xs:boolean" use="optional"/>
															<xs:attribute name="noLog" type="xs:boolean" use="optional"/>
															<xs:attribute name="windowsMagazine" type="xs:boolean" use="optional"/>
															<xs:attribute name="sound" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="commands" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="command" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
															<xs:attribute name="flags" type="xs:string" use="optional" fixed="setPartOnAlarm"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="states" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="state" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string" use="required"/>
															<xs:attribute name="image" type="xs:string" use="required"/>
															<xs:attribute name="blink" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="staterules" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="staterule" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="event" type="xs:string" use="required"/>
															<xs:attribute name="from" type="xs:string" use="required"/>
															<xs:attribute name="to" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="icons" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="icon" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="file" type="xs:string" use="required"/>
															<xs:attribute name="name" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="properties" minOccurs="0">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded">
													<xs:element name="property" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element name="propertyTable" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:choice maxOccurs="unbounded">
																<xs:element name="columnStringEnum" type="PropertyStringEnumType"/>
																<xs:element name="columnIntRange" type="PropertyIntRangeType"/>
																<xs:element name="columnIntEnum" type="PropertyIntEnumType"/>
															</xs:choice>
															<xs:attribute name="id" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="buttons" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="button" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="id" type="xs:string" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="triggers" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="trigger" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="readonlysetter" type="xs:string" maxOccurs="unbounded"/>
															</xs:sequence>
															<xs:attribute name="name" type="xs:string" use="required"/>
															<xs:attribute name="property" type="xs:string" use="required"/>
															<xs:attribute name="compareaction" type="CompareActionType" use="required"/>
															<xs:attribute name="value" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:all>
									<xs:attribute name="id" type="xs:string" use="required"/>
									<xs:attribute name="group" type="xs:string" use="optional"/>
									<xs:attribute name="addressMax" type="xs:int" use="optional"/>
									<xs:attribute name="addressMin" type="xs:int" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" use="required"/>
						<xs:attribute name="version" use="required"/>
						<xs:attribute name="port" type="xs:integer" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Тип отображения события -->
	<xs:simpleType name="HandlingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="alarmWindow"/>
			<xs:enumeration value="messageWindow"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Тип операции сравнения -->
	<xs:simpleType name="CompareActionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="equal"/>
			<xs:enumeration value="notEqual"/>
			<xs:enumeration value="great"/>
			<xs:enumeration value="greatOrEqual"/>
			<xs:enumeration value="less"/>
			<xs:enumeration value="lessOrEqual"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Тип формата адреса -->
	<xs:simpleType name="AddressFormatType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ipAddressOnly"/>
			<xs:enumeration value="ipAddressWithPort"/>
			<xs:enumeration value="comPort"/>
			<xs:enumeration value="number"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Типы свойств -->
	<xs:complexType name="PropertyType" abstract="true">
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="PropertyBoolType">
		<xs:complexContent>
			<xs:extension base="PropertyType">
				<xs:attribute name="value" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PropertyIntType">
		<xs:complexContent>
			<xs:extension base="PropertyType">
				<xs:attribute name="value" type="xs:int" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PropertyIntRangeType">
		<xs:complexContent>
			<xs:extension base="PropertyType">
				<xs:sequence>
					<xs:element name="min" type="xs:int"/>
					<xs:element name="max" type="xs:int"/>
					<xs:element name="value" type="xs:int"/>
					<xs:element name="condition" minOccurs="0">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attribute name="type"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PropertyIntEnumType">
		<xs:complexContent>
			<xs:extension base="PropertyType">
				<xs:sequence>
					<xs:element name="value" maxOccurs="unbounded">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:int">
									<xs:attribute name="default" type="xs:boolean"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PropertyStringType">
		<xs:complexContent>
			<xs:extension base="PropertyType">
				<xs:attribute name="value" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PropertyStringEnumType">
		<xs:complexContent>
			<xs:extension base="PropertyType">
				<xs:sequence>
					<xs:element name="value" maxOccurs="unbounded">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attribute name="default" type="xs:boolean" use="optional"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
